

*{
 font-family: "Poppins" , sans-serif !important; 
}
.navbar {
    background-color: #DCC7FF;
    transition: background-color 0.3s ease-in-out;
  }
  
  .navbar-nav .nav-link {
    color: #452181;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
   
  }
  .navbar-nav{
    height: 76px;
    top: 10.42%;
    position: absolute;
    left: 44.72%;
    bottom: 10.42%;
    right: 1.74%;
  }

  .link-nosotros{
    width: 109px;
  }
  .link-testimonios{
    width: 150px;
  }
  .link-contacto{
    width: 115px;
  }
  .link-tratamientos{
    width: 166px;
  }
  
  .navbar-scrolled {
    background-color: #FFF;
  }
  #hero {
    margin-top: 80px; /* altura del navbar */
  }
    
  .hero-section {
    background: linear-gradient(to bottom, #DCC7FF, white);
  }
  

section {
    margin-top: 100px; /* Puedes ajustar el valor según tus necesidades */
  }

  .main-title{
    font-weight:700;
    font-size:48px;
    line-height:72px;
    color: #470E9D;
  }

 span, .reserva-tu-turno,.card-title{
  font-weight: 600;
  font-size: 24px;
  line-height:36px!important;
 }

 .reserva-tu-turno{
  font-size: 16px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px !important;
  gap: 10px;
  background: #2676ED;
  border-radius: 48px !important;
  width:317px;
  height: 64px;
 }
   
 .link-reserva-tu-turno{
  text-decoration: none;
  color: white;
 }

 .bi-whatsapp{
  font-size: 26px;
  color: white;
  margin-bottom: 3%;
 }

.lead{
      font-size: 24px;
      line-height:36px;
  }
.image-container{
  width:633px !important;
  height:570px !important;
}
  .btn-lg {
    padding: 12px 24px;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
  }
  
  .custom-img {
    width: 900px;
    height: auto;
    max-width: 900px;
    max-height: 400px;
  }


  .blush-card {
    background-color: #DCC7FF !important;
    border-radius: 48px!important;
    height: 324px;
    width: 318px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  }
  

  .card-title{
    color: #452181;
  }

  .card-text{
    width:159px;
    height:48px;
 
  }

  .testimonial-card {
    border: 2px solid #94BFFF;
    padding: 80px;
    margin-bottom: 20px;
    transition: border-color 0.3s ease-in-out;
    position: relative;
    border-radius: 30px;

  }
  
  .testimonial-card:hover {
    border-color: black;
    background-color: red;
  }
  
  .testimonial-icon {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: blue;
    color: white;
    font-size: 2rem;
    padding: 10px;
    border-radius: 50%;
  }
  
  .contacto{
    background-color: #DCC7FF;
  }